html{
    font-size: 62.5%;
    line-height: 22px ;
}
nav,time,header{
    color: #fff;
    background-color: #125dd0;
}
form{
    background-color: #fff;
}
body{
    font-size: 3rem;
    background-color: #b5b5b7;
}
input{
    background-color: #fff;
    border:1px solid #000;
    border-radius: 5rem;
}
button,select,input{
    font-size:3rem;
}
/*Base Styles*/
#printIcon,#magGlassIcon,#backArrowIcon{
    background-color: #125dd0;
    border: none;
    /* display: block; */
}
header{
    font-size: 1.7rem;
   
}
time{
    font-size: 17px;
}
/*Layout*/

.statusBar{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:  4rem;
    margin-right:  1rem;
    padding-top: 1.5rem;
    
}
time{

    /* align-self: bottom;
    text-align:center; */
    
}
.righty {
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    flex-grow: 1;
    width: 49%;
    flex-wrap: wrap;
}
.lefty {
    display: flex;
    /* justify-content:flex-start ; */
    /* align-items: center; */
    flex-grow: 1;
    flex-wrap: wrap;
    width: 49%;
}
.lefty  > *{
    padding: 1px;
    margin-right:  .25rem;
}
.righty  > *{
    padding: 1px;
    margin-left:  .25rem;
}
.righty div{
    width:fit-content
}

nav{
    display: block;
}
/*Sizes*/

/*Skin Styles*/

/*Utility Classes*/
#overlay{
    width: 100%;
    
    opacity: 50%;
    display: block;
    position: fixed;
}